#spinner-container {
   position: relative;
   width: 520px;
   height: 520px;
   padding: 1.5rem;
   background-image: url("/public/spinnerDec.png") !important;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}

.rings {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
}

/* .outerShadow{
   box-shadow: 0 0px 15px 5px #242424;
   border-radius: 50%;
   z-index: 5;
} */
.innerShadow{
   box-shadow: inset 0 0 30px 10px #242424;
   border-radius: 50%;
   z-index: 10;
}

canvas {
   display: block;
   border-radius: 50%;
   /* background: transparent !important; */
}

 #pointer {
   position: absolute;
   top: 55px;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   /* width: 0;
   height: 0; */
   /* border-left: 20px solid transparent;
   border-right: 20px solid transparent;
   border-bottom: 40px solid gold;
   z-index: 10;
   filter: drop-shadow(0 0 5px rgba(255, 215, 0, 0.8)); */
}

button {
   margin-top: 30px;
   padding: 10px 20px;
   font-size: 18px;
   cursor: pointer;
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 8px;
   transition: background-color 0.3s;
}

button:hover:not(:disabled) {
   background-color: #0056b3;
}

button:disabled {
   background-color: #555;
   cursor: not-allowed;
}
